<% layout('layouts/base') %>

<div class="row">
    <!-- <h1 class="text-left">Hello!</h1> -->
    <h2 class="text-center">Edit A Recipe</h2>
    <div class="col-md-6 offset-md-3">
  
    <form action="/recipes/<%=recipe._id%>/edit" method="POST" novalidate class="validated-form" >
<div class="mb-3">
<label class="form-label" for="title">Title</label>
<input class="form-control" type="text" id="title" name="title" value="<%=recipe.title%>" required>
<div class="valid-feedback">
    Looks good!
</div>
</div> 

<div class="mb-3">
    <label class="form-label" for="category">Category</label>
    
    <select class="form-select" aria-label="Default select example" name="category" required>
       <% for(let category of categories){ %> <!-- <option selected>Choose category</option> -->
        <option value="<%=recipe.category%>" name="category"><%=category%></option>
     <% } %> 
    </select>
      
    <div class="valid-feedback">
        Looks good!
    </div>
    </div> 

<div class="input-group mb-3">
    <label for="group" class="form-label">Ingredients</label>
    
        <% for(let i = 0; i < recipe.ingredients.quantity.length; i++ ){ %> 
            <div class="input-group" id="group"> 
            <input name="ingredients[quantity]" value="<%=recipe.ingredients.quantity[i]%>" id="ing" type="number" class="form-control" placeholder="Quantity" aria-label="Quantity" required>
            <input name="ingredients[unit]" value="<%=recipe.ingredients.unit[i]%>" type="text" class="form-control" placeholder="Units" aria-label="Units" required>
            <input name="ingredients[product]" value=" <%=recipe.ingredients.product[i]%>" type="text" class="form-control" placeholder="Product" aria-label="Product" required>    
          </div>   
            <% } %> 
   
  <div id="place">
  </div>
<p>
<input id="btnAdd" class="addNew btn btn-info" type="button" value="Add Ingredient">    
</p>   
   <div class="valid-feedback">
        Looks good!
    </div>
</div>

 <style>
input{
        margin-top: 10px;
    }
 </style>

<div class="mb-3">
    <label class="form-label" for="description">Description</label>
<textarea class="form-control" type="text" id="description" name="description"  required>
<%=recipe.description%></textarea>
<div class="valid-feedback">
    Looks good!
</div>
</div>

<div class="mb-3">
    <label class="form-label" for="image">Image URL</label>
    <input class="form-control" type="text" id="image" name="image" value="<%=recipe.image%>" required>
 <div class="valid-feedback">
    Looks good!
</div>
</div>

<div class="mb-3"><button class="btn btn-success">Save</button>
</div>

</form> 
</div>
</div>

